.DS_Store

node_modules
package-lock.json
packages/*/dist
packages/*/build
.rollup.cache
tsconfig.tsbuildinfo
*.js.map
*.d.ts.map

.react-router

.env
!.env.example

packages/api/data/*

!**/.gitkeep
